
<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Login Here !!</h5>
        <form [formGroup]="Form" (ngSubmit)="save()">
            <div class="row">
                <div class="col-sm-12">
                    <label for="userid">User Id</label>
                    <input type="text" class="form-control" id="userid" name="userid" formControlName="userid">
           
                    <span class="text-danger" *ngIf="!Form.get('userid').valid && Form.get('userid').touched">
                        PLEASE ENTER PASSWORD
                    </span>
                </div>
                <div class="col-sm-12">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" id="pwd" name="pwd" formControlName="pwd">
                    <span class="text-danger" *ngIf="!Form.get('pwd').valid && Form.get('pwd').touched">
                        PLEASE ENTER PASSWORD
                    </span>
                </div>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary" [disabled]="!Form.valid">Login</button>
        </form>
     
        </div>
      </div>
    </div>
    </div>